* {
    margin: 0;
    padding: 0;
}

.hide{
    display: none;
}

.wrap{
    background: #00ffff;
    width: 300px;
    padding: 200px;
    height: 600px;
}

.h1{
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    text-align: center;
    padding-top: 20px;
}

.input{
    padding: 10px;
    background: rgb(255, 255, 255);
    border: 1px solid #000080;
    border-radius: 8px;
    width: 100%;
    margin-left: 20px;
    outline: none;
    box-sizing: border-box;
}

.ul{
    padding-bottom: 50px;
}

.ul li{
    font-size: 20px;
    line-height: 1.4;
    font-weight: bold;
}